html,
body {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "lato", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.top-bar {
    background-color: #ff6b28;
    padding: 15px;
    text-align: center;
}

#header {

    background-image: url("./arquivos_projeto_pagina-receitas/images/hero_bolo.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;

}

.conteudo {
    margin: auto;
    max-width: 990px;
    padding: 0 40px; 
    margin-top: 100px;

}

h1, h2, h3, h4, h5, h6 {
    color: #ff6b28;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.card {
    
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px ;
}

.card:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);

}

.ingredients {
    cursor: url("./arquivos_projeto_pagina-receitas/images/cursor_ingredientes.png"), auto;

}

.preparation {
    cursor: url("./arquivos_projeto_pagina-receitas/images/cursor_preparo.png"), auto;

}

.instructions {
    cursor: url("./arquivos_projeto_pagina-receitas/images/cursor_intrucoes.png"), auto;


}

a {
    text-decoration: none;
    color: white;
}

.button-buy {
    
    background-color: #ff6b28;
    padding: 16px;
    border-radius: 20px;
    

}

li {
    margin-bottom: 14px;
}

.ingredients-list {
    margin-bottom: 50px;

}
  
p {
    line-height: 28px; 
}

.footer {
    background-color: #ff6b28;
    color: white;
    padding: 15px;
    text-align: center;
    
}

.footer-text {
    max-width: 500px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;

}

.text-white {
    color: white;
}